.blogs {
    .blogs-slider {
        .box {
            margin: 2rem 0;
            border: var(--border);
            cursor: pointer;

            &:hover {
                border: var(--borderHover);
            }

            &:hover .image img {
                transform: scale(1.2);
            }

            .image {
                height  : 25rem;
                width   : 100%;
                overflow: hidden;

                img {
                    height    : 100%;
                    width     : 100%;
                    object-fit: cover;
                }
            }

            .content {
                padding: 2rem;

                h3 {
                    @include fontStyle(2.2rem, var(--black));
                }

                p {
                    padding    : 1rem 0;
                    line-height: 2;
                    @include fontStyle(1.5rem, var(--lightColor));
                }
            }
        }

        .swiper-pagination {
            margin-bottom: -1rem;
            .swiper-pagination-bullet-active {
                background: var(--green);
            }
        }
    }
}