@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap");
/* 21 - Jan - 2022  */
:root {
  --green: #27AE60;
  --greenDark: #219150;
  --black: #444;
  --white: #FFF;
  --bgWhite: #FFF;
  --imgWhite: #EEE;
  --lightColor: #666;
  --border: .1rem solid rgba(0, 0, 0, .1);
  --boxShadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
  --borderHover: .1rem solid var(--black); }

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  list-style: none;
  user-select: none;
  text-decoration: none;
  text-transform: capitalize;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  transition: all .1s linear; }

/*
    100% / 16px = 6.25%
    6.25% == 1px 

    6.25% * 10 = 62.5% 
    62.5% == 10px
*/
html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem; }
  html::-webkit-scrollbar {
    width: 1rem; }
  html::-webkit-scrollbar-track {
    background-color: transparent; }
  html::-webkit-scrollbar-thumb {
    background-color: var(--green); }

body {
  background-color: var(--bgWhite); }

/* 
Style Scale for all 
but in responsive - its resizing at 991px
*/
section {
  padding: 2rem 7%;
  margin-bottom: 3rem; }
  section:last-of-type {
    margin-bottom: 0; }

.btn {
  display: inline-block;
  padding: .9rem 3rem;
  margin-top: 1rem;
  border-radius: .5rem;
  background: var(--green);
  cursor: pointer;
  font-weight: 500;
  font-size: 1.7rem;
  color: var(--white); }
  .btn:hover {
    background: var(--greenDark); }

.heading {
  text-align: center;
  margin-bottom: 2rem;
  position: relative; }
  .heading::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    height: .1rem;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.1); }
  .heading span {
    border: var(--border);
    padding: .5rem 2rem;
    background-color: var(--white);
    font-size: 4rem;
    color: var(--black); }

.header #searchBtn {
  display: none; }
.header .header-1 {
  background: var(--white);
  padding: 1.5rem 9%;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .header .header-1 .logo {
    font-weight: bolder;
    font-size: 3rem;
    color: var(--black); }
    .header .header-1 .logo i {
      font-size: 3rem;
      color: var(--green); }
  .header .header-1 .searchForm {
    display: flex;
    align-items: center;
    width: 50rem;
    height: 5rem;
    overflow: hidden;
    border-radius: .5rem;
    border: var(--border);
    background-color: var(--white); }
    .header .header-1 .searchForm input {
      width: 100%;
      height: 100%;
      padding: 0 1.2rem;
      text-transform: none;
      font-size: 1.6rem;
      color: var(--black); }
    .header .header-1 .searchForm label {
      padding-right: 1.5rem;
      cursor: pointer;
      font-size: 2.5rem;
      color: var(--black); }
      .header .header-1 .searchForm label:hover {
        color: var(--green); }
  .header .header-1 .icons div,
  .header .header-1 .icons a {
    margin-left: 1.5rem;
    cursor: pointer;
    font-size: 2.5rem;
    color: var(--black); }
    .header .header-1 .icons div:hover,
    .header .header-1 .icons a:hover {
      color: var(--green); }
.header .header-2 {
  background-color: var(--green);
  text-align: center; }
  .header .header-2.when-user-scrolling {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 101; }
  .header .header-2 a {
    display: inline-block;
    padding: 1.5rem;
    font-size: 2rem;
    color: var(--white); }
    .header .header-2 a:hover {
      background-color: var(--greenDark); }
.header .bottom-navbar {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 101;
  text-align: center;
  background: var(--green);
  transform: scale(0);
  transform-origin: bottom center;
  transition: transform .3s linear; }
  .header .bottom-navbar a {
    padding: 2rem;
    font-size: 2.5rem;
    color: var(--white); }
    .header .bottom-navbar a:hover {
      background: var(--greenDark); }

.login-form-container {
  position: fixed;
  top: 0;
  right: -105%;
  z-index: 102;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.9);
  transition: right .5s ease; }
  .login-form-container.userClick {
    right: 0; }
  .login-form-container #closeLoginBtn {
    position: absolute;
    top: 1.5rem;
    right: 2.5rem;
    cursor: pointer;
    font-size: 5rem;
    color: var(--black); }
    .login-form-container #closeLoginBtn:hover {
      color: tomato;
      transform: rotate(180deg);
      transition: transform .3s linear; }
  .login-form-container form {
    width: 40rem;
    padding: 2rem;
    margin: 2rem;
    border: var(--border);
    background: var(--white);
    box-shadow: var(--box-shadow);
    border-radius: .5rem; }
    .login-form-container form h3 {
      text-align: center;
      text-transform: uppercase;
      font-size: 2.5rem;
      color: var(--black); }
    .login-form-container form span {
      display: block;
      padding-top: 1rem;
      font-size: 1.5rem; }
    .login-form-container form .inputBox {
      width: 100%;
      margin: .7rem 0;
      padding: 1rem 1.2rem;
      border: var(--border);
      border-radius: .5rem;
      text-transform: none;
      font-size: 1.6rem;
      color: var(--black); }
    .login-form-container form .checkBox {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      padding: 1rem 0; }
      .login-form-container form .checkBox label {
        cursor: pointer;
        font-size: 1.6rem;
        color: var(--lightColor); }
    .login-form-container form .btn {
      width: 100%;
      margin: 1.5rem 0;
      text-align: center; }
    .login-form-container form p {
      padding-top: .8rem;
      font-size: 1.5rem;
      color: var(--lightColor); }
      .login-form-container form p a {
        color: var(--green); }
        .login-form-container form p a:hover {
          text-decoration: underline; }

.home {
  background: url(../img/banner-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center; }
  .home .row {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center; }
    .home .row .content {
      flex: 1 1 42rem; }
      .home .row .content h3 {
        font-size: 4.5rem;
        color: var(--black); }
      .home .row .content p {
        line-height: 2;
        padding: 1rem 0;
        font-size: 2rem;
        color: var(--lightColor); }
    .home .row .books-slider {
      flex: 1 1 42rem;
      margin-top: 2rem;
      text-align: center; }
      .home .row .books-slider a:hover img {
        transform: scale(0.9); }
      .home .row .books-slider a img {
        height: 25rem; }
      .home .row .books-slider .stand {
        width: 100%;
        margin-top: -2rem; }

.icons-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 2rem; }
  .icons-container .icons {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: 2rem 0; }
    .icons-container .icons i {
      font-size: 3.5rem;
      color: var(--green); }
    .icons-container .icons h3 {
      padding-bottom: 0.5rem;
      font-size: 2.5rem;
      color: var(--black); }
    .icons-container .icons p {
      font-size: 1.5rem;
      color: var(--lightColor); }

.featured .featured-slider .box {
  margin: 2rem 0;
  position: relative;
  overflow: hidden;
  text-align: center;
  border: var(--border);
  cursor: pointer; }
  .featured .featured-slider .box:hover {
    border: var(--borderHover); }
  .featured .featured-slider .box:hover .icons {
    transform: translateY(0); }
  .featured .featured-slider .box:hover .image {
    transform: translateY(6rem); }
  .featured .featured-slider .box .icons {
    border-bottom: var(--borderHover);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background: var(--white);
    transform: translateY(-105%); }
    .featured .featured-slider .box .icons a {
      padding: 1.3rem 1.5rem;
      font-size: 2.2rem;
      color: var(--black); }
      .featured .featured-slider .box .icons a:hover {
        color: var(--white);
        background-color: var(--green); }
  .featured .featured-slider .box .image {
    padding: 1rem;
    background: linear-gradient(15deg, var(--imgWhite), 30%, var(--white) 30.1%); }
    .featured .featured-slider .box .image img {
      height: 25rem; }
  .featured .featured-slider .box .content {
    padding: 1.5rem;
    background: var(--imgWhite); }
    .featured .featured-slider .box .content h3 {
      font-size: 2rem;
      color: var(--black); }
    .featured .featured-slider .box .content .price {
      padding-top: 1.5rem;
      font-size: 2.2rem;
      color: var(--black); }
      .featured .featured-slider .box .content .price span {
        font-size: 1.5rem;
        text-decoration: line-through;
        font-size: 1.5rem;
        color: var(--lightColor); }
.featured .featured-slider .swiper-button-prev,
.featured .featured-slider .swiper-button-next {
  border: var(--borderHover);
  height: 4rem;
  width: 4rem;
  color: var(--black);
  background-color: var(--white); }
  .featured .featured-slider .swiper-button-prev::after,
  .featured .featured-slider .swiper-button-next::after {
    font-size: 2rem; }
  .featured .featured-slider .swiper-button-prev:hover,
  .featured .featured-slider .swiper-button-next:hover {
    color: var(--white);
    background-color: var(--black); }

@media (max-width: 991px) {
  html {
    font-size: 55%; }

  section {
    padding: 2rem; }

  .header-1 {
    padding: 2rem; } }
@media (max-width: 768px) {
  html {
    scroll-padding-top: 0; }

  body {
    padding-bottom: 6rem; }

  .header #searchBtn {
    display: inline-block; }
  .header .header-1 {
    position: relative;
    box-shadow: var(--box-shadow); }
    .header .header-1 .searchForm {
      position: absolute;
      top: 115%;
      right: 2rem;
      width: 90%;
      box-shadow: var(--box-shadow);
      transform: scale(0);
      transform-origin: top center;
      transition: transform .3s linear; }
      .header .header-1 .searchForm.userClick {
        transform: scale(1); }
  .header .header-2 {
    display: none; }
  .header .bottom-navbar {
    transform: scale(1); }

  .home .content {
    margin-top: 2rem;
    text-align: center; }
    .home .content h3 {
      font-size: 3rem; }
    .home .content a {
      margin-bottom: 2rem; } }
@media (max-width: 450px) {
  html {
    font-size: 50%; } }

/*# sourceMappingURL=style.css.map */
